/* External StyleSheets */
/* header section */
/* link google fonts */
@import url('https://fonts.googleapis.com/css2?family=Gluten&family=Noto+Sans+Display&family=Poppins&family=Source+Code+Pro&display=swap');
*{
    margin:0%;
    padding:0%;
    box-sizing: border-box;
    font-family: 'Gluten', cursive;
font-family: 'Noto Sans Display', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Source Code Pro', monospace;
}
nav{
    width:100%;
    position: sticky !important; /*for stable header*/
    left:0%;
    top:0%;
    box-shadow: 0px 5px 8px 0px rgba(0, 0,0, .5);
    z-index: 1;
}
.navbar-brand{
    font-weight: 600;
  
}

.fa-camera{
    color:rgb(32, 214, 214);
}
nav:hover .fa-camera{
    color:tomato;
    transition: 0.7s;
}

    
    /* color: violet; */

.nav-link{
    font-size: 20px;
    margin: 0px 10px;
    border-bottom:1px solid seashell transparent;
}
.nav-link:hover{
    border-bottom: 1px solid seashell;

    /* transition: 0.6s ease-in-out; */
}
/* header section end */

      /* home section starts  */

section{          /*for all 4 section */ 
    width:100%;
    min-height: 100vh;
}
section #about{
    width:100%;
    min-height: 105vh;
}
#home{
    width:100%;
    height:100vh;
    background:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.6)), url("./photography/photo6.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
    color:white;
}
#home p{
    position: absolute;
    top:50%;
    font-size: 80px;
    opacity: 0;
    /* left:50%; */
    /* ANIMATION PART */
    animation: text 3s ease-in-out;
}
#home p span{
    color:tomato;
}
#home p:nth-child(1){
    animation-delay: 0s;
}
#home p:nth-child(2){
    animation-delay: 3s;
}
#home p:nth-child(3){
    animation-delay: 6s;
}
#home p:nth-child(4){
    animation-delay: 9s;
}
@keyframes text{
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
@media screen and (max-width:576px){
   #home p{
       font-size: 34px;
   }
   #home p span{
       color:yellow;
   }
}

          /*about section starts  */
#about{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: darkgrey;
    z-index: 2;
}          
   
.circle{
    width: 600px;
    height: 600px;
    background-color: rgb(46, 46, 43);
    border-radius: 50%;
    position: relative; /* for attach relative content ....bcz im suing img and content so i used relative*/
    margin-top: 6%;
    box-shadow: 0px 5px 12px rgba(0, 0, 0, .9);
    transition: 0.8s; 
}   
.circle .pic5{
    width: 370px;
    position: absolute;
    bottom: 9%;
    left: 19%;
    border-radius: 75px;
    transition: 0.8s; 
}    
.circle:hover{
    width:770px;
    height:550px;
    border-radius: 10px;

    position: relative;
    transition: 0.8s; 
}
.circle:hover .pic5{
    position: absolute;
    top: 70px;
    left: 10px;
    transition: 0.8s;
}

.circle .aboutcontent{
   opacity: 0;
   /* transition: 1s; */
}
.circle:hover .aboutcontent{
    position: absolute;
    top:15%;
    right: 0;
    transition: 1s;
    opacity: 1;
    color: white;
    width: 50%;
}
/* responsive for about */
@media screen and (max-width:576px) {
    #about{ 
        background-color: rgb(36, 218, 208);
    }
    .circle{
        width: 300px;
    height: 300px;
    background-color: rgb(59, 54, 54);
    border-radius: 50%;
    position: relative; /* for attach relative content ....bcz im suing img and content so i used relative*/
    margin-top: 6%;
    box-shadow: 0px 5px 12px rgba(10, 8, 8, 0.9);
    transition: 0.8s; 
  
 }
    .circle:hover{
        width: 360px;
        height: 590px;
        border-radius: 10px;
    
        position: relative;
        transition: 0.8s;
    }
    .circle .pic5{
        width: 210px;
    position: absolute;
    top: 8%;
    left: 13%;
    border-radius: 60px;
    transition: 0.8s; 
    } 
    .circle:hover .pic5{
        position: absolute;
        top: 1%;
        left: 17%;
        transition: 0.8s;
    }
    
    .circle:hover .aboutcontent{
    position: absolute;
    top:50%;
    right: 25%;
    transition: 1s;
    opacity: 1;
    font-size: 18px;
    color: rgb(26, 211, 211);
    /* width: 50%; */
    }
    
}
/* About section ends */

/* gallery section starts */
.nhy h1{
    color:linen;
}
.nhy .fa-camera{
    color:rgb(175, 250, 156);
}

.g1{
    background-color:rgb(175, 250, 156);
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  

}
.g1 .pic1{
    width: 30%;
   
}
.g1 .pic2{
    width: 30%;
}
.g1 .pic3{
    width: 30%;
}
.g1 .pic4{
    width: 30%;
}
.g1 .pic6{
    width: 30%;
}

.nhy{
    background-color: rgb(0, 0, 0) ;
    width: 100%;
    height: 100%;
}
/* media queries for gallery */
@media screen and (max-width: 576px) {
    .g1{
        background-color:rgb(175, 250, 156);
    }
   
    .g1{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .g1 .pic1{
        width: 60%;
       
    }
    .g1 .pic2{
        width: 60%;
    }
    .g1 .pic3{
        width: 60%;
    }
    .g1 .pic4{
        width: 60%;
    }
    .g1 .pic6{
        width: 60%;
    }
    
    .nhy{
        background-color: rgb(0, 0, 0) ;
    }
}
            /* contact section */
#contact{
    padding-top: 7%;
    background-color: rgb(255, 241, 112);
}
#contact iframe{
    box-shadow: 12px 10px rgba(0, 0, 0, 0.4);
}
@media screen and (max-width: 576px) {
    footer{
      position: absolute;
      bottom:-524%;
       left:3%; 
    }
    }
footer{
    color: gold;
    text-align: center;
  background-color: rgb(109, 103, 103);
}